* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #fcf0e6;
    font-family: 'Futura Bk BT';
  }

  p{
    line-height: 1.7;
  }

  /* Navbar */
    #logo{
        width: 200px;
    }

    .navbar-brand{
        padding-left: 15%;
    }

    .navbar-nav{
        padding-right: 20%;
    }

    .navbar-light{
        background-color: #FDF7F2;
    }

    .nav-link:hover{
        color: #403730 !important;
    }


  /* Card */
    .card {
        background-color: #FDF7F2;
    }

    .card-deck{
        padding-bottom: 6%;
        padding-top: 6%;
        background-color: #fcf0e6;
    }


  /* Image Slider */
    .carousel .carousel-item {
        height: 80vh;
        transition-duration: 1s;
    }

    .carousel-item img {
        position: absolute;
        object-fit:cover;
        top: 0;
        left: 0;
        min-height: 500px;
        transition-duration: 1s;
    }

  /* searching form */
  .warning{
    display: flex;
    align-items: center;
  }


  /* Footer */
  #card-foot{
    background-color:#FDF7F2 ;
  }



